<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-compte">
    <ion-avatar>
      <img src="../../assets/3.jpg" alt="Photo de profil">
    </ion-avatar>

    <div class="user-info">
      <h2>{{nom}} {{prenom}}</h2>
      <p>ID : {{id}}</p>
    </div>

    <ul class="settings-list">
      <li class="setting-item">
        <ion-icon name="settings-outline"></ion-icon>
        <div class="setting-text">
          <h3>Préférences</h3>
        </div>
        <a routerLink="/update-profil">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </a>
       
      </li>

      <li class="setting-item">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <div class="setting-text">
          <h3>Sécurité du compte</h3>
          <div class="security-progress">
            <div class="progress-bar"></div>
            <p class="progress-text">Intermédiaire</p>
          </div>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </li>

      <li class="setting-item">
        <ion-icon name="help-circle-outline"></ion-icon>
        <div class="setting-text">
          <h3>Aide</h3>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </li>

      <li class="setting-item">
        <ion-icon name="log-out-outline"></ion-icon>
        <div class="setting-text">
          <h3>Se déconnecter</h3>
        </div>
        <ion-icon name="chevron-forward-outline" (click)="deconnecter()"></ion-icon>
      </li>
    </ul>
  </div>
</ion-content>
