<!-- page d'entete avec le boutton back -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="head-title">
      <ion-icon name="arrow-back-circle-outline" (click)="retour()"></ion-icon>
      <ion-title>Modifier votre Profil</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<div class="Body-page">
  <nav class="nav-bar">
    <div>
      <i class="fa-solid fa-arrow-left" (click)="goBack()"></i>
    </div>
    <div>
      <h5>Détails du Vol</h5>
    </div>
  </nav>
  <div class="container-wrapper">
    <div class="container">
      <div class="heure-time">
        <div>
          <h5>{{ details?.time }}</h5>
          <h6>{{ details?.origin }}</h6>
        </div>
        <h4>{{ details.airline }}</h4>
        <div>
          <h5>{{ details?.time }}</h5>
          <h6>{{ details?.destination }}</h6>
        </div>
      </div>
      <div class="two-box">
        <div class="cutout cutout-left"></div>
        <div class="cutout cutout-right"></div>
      </div>
      <div class="box-footer">
        <button (click)="openModal($event)">Annuler</button>
        <h6>Voir détails</h6>
      </div>
    </div>
    <div class="flight-content">
      <div class="flight-container">
        <!-- Image en tête -->
        <div class="center-image-entete">
          <img [src]="'assets/icon/' + details?.logoUrl" alt="Flight Header" class="header-image" />
        </div>

        <!-- Trait sous l'image -->
        <hr class="full-width-line" />

        <!-- Trait pointillé courbé avec icône avion -->
        <div class="dotted-line-container">
          <div class="dotted-curve">
            <ion-icon name="airplane" class="airplane-dotted-icon"></ion-icon>
          </div>
        </div>

        <!-- Conteneurs de départ et d'arrivée -->
        <div class="flight-details">
          <div class="departure">
            <p>{{ details?.origin }}</p>
          </div>
          <div class="arrival">
            <p>{{ details?.destination }}</p>
          </div>
        </div>

        <div class="flight-details">
          <h6> Nombre Passagers : {{ details.passengers }}</h6>
          <h6> Numéro Vol : {{ details.numvol }}</h6>
        </div>

        <!-- Conteneurs double texte -->
        <div class="flight-details">
          <div class="text1">
            <p>Aeroport International</p>
            <h6>{{ details?.origin }}</h6>
          </div>
          <div class="text2">
            <p>Aeroport International</p>
            <h6>{{ details?.destination }}</h6>
          </div>
        </div>
        <hr class="full-width-line" />
        <div class="list-passager">
          <h5>La liste des passagers</h5>
          <br>
        </div>
        <hr class="full-width-line" />


        <!-- Deux conteneurs côte à côte (Date et Heure) -->
        <div class="datetime-container">
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-input type="date" [(ngModel)]="flightDate"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Heure</ion-label>
            <ion-input type="time" [(ngModel)]="flightTime"></ion-input>
          </ion-item>
        </div>

        <hr class="full-width-line" />

        <!-- Texte Prix -->
        <div class="price-container">
          <p>Prix: {{ price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal de confirmation -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
    <div class="center-image">
      <img src="assets/icon/annuler.png" alt="annuler" />
    </div>
      <h2>Confirmer l'annulation</h2>
      <p>Êtes-vous sûr de vouloir annuler ce vol ?</p>
      <div class="modal-actions">
        <button (click)="confirmCancellation()" class="btn-valider">Valider</button>
        <button (click)="closeModal()" class="btn-annuler">Annuler</button>
      </div>
    </div>
  </div>

<!-- Second Modal -->
 <div *ngIf="isProcessingModalVisible" class="modal">
  <div class="modal-content">
    <p class=" processing-modal">Merci de patienter pendant 48 heures pour que votre remboursement soit correctement traité.</p>
    <br>
    <div class="modal-buttons">
      <span>lire politique de remboursement</span>
      <button (click)="closeProcessingModal()" class="btn-annuler">Fermer</button>
    </div>
  </div>
</div>
