<div class="container">
    <header>
        <div>
          <img [src]="logo" alt="logo">
        </div>
      
    </header>

    <main>
          <div class="search-section">
            <h1>Où voulez-vous Aller ?</h1>
            <div class="search-bar">
                <input type="text" placeholder="Recherchez votre voyage">
                <button><i class="search-icon">&#128269;</i></button>
            </div>
          </div>




          <div class="category-filter">
            <button class="active">Tout</button>
            <button>Afrique</button>
            <button>Europe</button>
            <button>Asia</button>
            <button>Océanie</button>
          </div>

        <div class="travel-cards">
            @for (item of villes; track $index) {
              <div class="card">
                <img [src]="mosque" alt="{{item.nom}}, {{item.pays}}">
                <div class="card-info">
                    <h2>{{item.nom}}, {{item.pays}}</h2>
                    <p>À partir de ${{item.prix}}</p>
                </div>
              </div>
            }

        </div>
    </main>
  </div>

