*{
  background-color: #F3F5F6;
}
.card {
  width: 300px;
}
.notif {
  text-align: center;
  color: #918FB7;
  margin-bottom: 20px;
}
.notif-content {
  background-color: white;
  width: 80%;
  height: auto;
  color: #04BBC7;
  padding: 20px 10px 20px 20px;
  text-align: left;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 3%;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.scroll {
  overflow: scroll;
}
h2,p,strong,h3,ul,li {
  background-color: white;
}
