*{
  background-color: #F3F5F6;
  padding: 0;
  margin: 0;
}

.notif {
  color: #918FB7;
  margin-bottom: 20px;
margin-top: 30px;
}
.notif-content {
  background-color: white;
  height: auto;
  // color: #04BBC7;
  color: black;
  font-weight: 600;
  padding: 20px 10px 20px 20px;
  text-align: left;
  border-radius: 20px;
  margin: 10px;

}
.heure-time{
text-align: center;
}
.list {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin-top: 10px;
}

