<div class="pageNotif">
  <div class="header-notif">
      <div class="header-centrer">
        <div class="header-item logo">
          <img src="../../assets/logo-pankuru.png" alt="Logo pankuru">
        </div>
        <div class="header-item title">
          <ion-title>Pankuru</ion-title>
        </div>
        <div class="header-item notifications">
          <ion-icon name="notifications-outline"></ion-icon>
        </div>
      </div>
  </div>
  <div class="listNotif">
     <app-list-notifications></app-list-notifications>
  </div>
</div>

