.header {
  background-color: white;
}
.header-center {
  display: flex;
  img {
    margin-left: 10%;
  }
  ion-title {
    padding-left: 5%;
  }

}
ion-title {
  color: black;
}
.listNotif {
  overflow: scroll;
}











