.content {
  display: flex;
  flex-direction: column;
  background-color: #F3F5F6;
  height: 100%;
  align-items: center;
  padding-top: 40%;
  overflow: scroll;
}

.text-titre {
  font-size: 24px;
  color: black;
  text-align: center;
  padding-top: 1%;
  font-weight: bold;
  font-family: Inter, serif;
}

.legend-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 14px;
  ion-icon {
    height: 10px;
    width: 10px;
  }
  .selectionner {
    color: #04BBC7;
  }
  .secour {
    color: #7C7270;
  }
  .libre {
    color: #8a87bd;
  }
  .occupe {
    color: #ea3333;
  }
}

.demarer {
  margin-top: 30%;
  width: 50%;
  height: 57px;
  align-content: center;
  --background: #04BBC7;
}

.seating-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .hub-lot, .milieu, .couloir {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-button {
    margin: 5px 0;
  }
}

.selected-seat {
  margin-top: 20px;
  text-align: center;
}

ion-button[color="orange"] {
  --background: #FFA500; /* Couleur orange */
  --color: #ffffff;
}

ion-button[color="danger"] {
  --background: #FF0000; /* Couleur rouge */
}

ion-button.selected {
  --background: #0000FF; /* Couleur bleue lorsque le siège est sélectionné */
  --color: #ffffff;
}

ion-button[color="selected-color"] {
  --background: #0000FF; /* Couleur bleue lorsqu'un siège est sélectionné */
  --color: #ffffff;
}
