
<ion-content [fullscreen]="true">

  <h2>Inscription</h2>

    <div class="sociaux">

      <button class="btn-goole">GOOGLE</button>
     
       <button class="btn-facebook">FACEBOOK</button>
  
    </div>

     <div class="separateur">
        <span>Ou</span>
     </div>

   
    <div class="form">

     <div class="chp">
      <input type="email" placeholder="email">
     </div>

     <div class="chap">
      <input type="password" placeholder="mot de passe">
     </div>

     <div class="cha">
      <input type="password" placeholder="Confirmer mot de passe">
     </div>
    </div>


    <div class="connect">
     <button class="btn-connexion">Enregistrer</button>
    </div>

    <div class="sos">
      <p>Vous avez deja un compte ?</p>
       <button class="sinscrire">Se connecter</button>
    </div>

 
</ion-content>
