<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>updateProfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-compte">
    <ion-avatar>
      <img src="../../assets/3.jpg" alt="Photo de profil">
    </ion-avatar>

    <div class="user-info">
      <h2>Adama SERMIN</h2>
      <p>ID : 56456941</p>
    </div>
        <ul class="input-list">
          <div class="input-text">
            <h3>Email</h3>
          </div>
          <li class="input-items">
             <input type="email" placeholder="amadou@gmail.com">
              <ion-icon slot="icon-only" name="create-outline" aria-hidden="true"></ion-icon>
          </li>
          <div class="input-text">
            <h3>Localisation</h3>
          </div>
          <li class="input-items">
             <input type="text" placeholder="bamako" aria-hidden="true">
              <ion-icon slot="icon-only" name="create-outline" aria-hidden="true"></ion-icon>
          </li>
          <div class="input-text">
            <h3>Adress</h3>
          </div>
          <li class="input-items">
             <input type="text" placeholder="Bamako faladie" aria-hidden="true">
              <ion-icon slot="icon-only" name="create-outline" aria-hidden="true"></ion-icon>
          </li>
          <div class="input-text">
            <h3>Numero de Telephone</h3>
          </div>
          <li class="input-items">
             <input type="tel" placeholder="79882616">
              <ion-icon slot="icon-only" name="create-outline" aria-hidden="true"></ion-icon>
          </li>
          <ion-button  expand="full" class="btn-save">Enregistrer</ion-button>
        </ul>
    </div>
</ion-content>
