<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back"></ion-icon>Retour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">payementRefuser</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img class="cart" src="assets/echouer.png"></ion-img>

  <div class="txt">
    <h2>Paiement échoué</h2>
    <h6>On dirait que vous n’avez pas saisi la carte avec succès.</h6>
  </div>
</ion-content>
