<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <ion-img src="assets/imgs/location+_1_-removebg-preview 1.png" alt="localisation de l'image" class="localisation"></ion-img>
    <h1>Choisissez une destination</h1>
    <p>Sélectionnez facilement un lieu pour votre </p>
    <p > voyage et connaissez le coût exact du voyage.</p>

  </div>
  <div class="button-container">
    <div class="btn1" [routerLink]="['/chargement']"></div>
    <div class="btn2" [routerLink]="['/chargement1']"></div>
    <div class="btn3" [routerLink]="['/chargement2']"></div>
  </div>
</ion-content>
