<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div id="container">
    <ion-img src="assets/imgs/mountain 1.png" alt="montagne de l'image" class="montagne"></ion-img>
    <h1>Découvrir les<br>  destinations</h1>
    <p>Découvrez les lieux de votre voyage dans le</p>
    <p class="bouger"> monde et sentez-vous bien.</p>

  </div>
  <div class="button-container">
    <div  class="btn1"></div>
    <div class="btn2" [routerLink]="['/chargement1']"></div>
    <div class="btn3" [routerLink]="['/chargement2']"></div>
  </div>


</ion-content>
