<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="aoua">
  <ion-button [routerLink]="['']" class="link">Suivant</ion-button>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chargement2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
    <ion-img src="assets/imgs/travelling (2) 1.png" alt="travel de l'image" class="travel"></ion-img>
    <h1>Voler vers ta destination</h1>
    <p>Enfin, préparez-vous pour la visite et  </p>
    <p > rendez-vous à</p>
    <p > la destination de votre choix.</p>
    </div>
  </div>

  <div class="button-container">
    <div class="btn1" [routerLink]="['/chargement']"></div>
    <div class="btn2" [routerLink]="['/chargement1']"></div>
    <div class="btn3" [routerLink]="['/home']"></div>
  </div>
</ion-content>
