
<ion-app>
  <ion-tabs>
    <ion-tab-bar  class="home">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button tab="reserv" routerLink="/reservationvol">
        <ion-icon name="airplane"></ion-icon>
        Reservation
      </ion-tab-button>
      <ion-tab-button tab="notif" routerLink="/verification">
        <ion-icon name="notifications"></ion-icon>
        Notification
      </ion-tab-button>
      <ion-tab-button tab="person">
        <ion-icon name="person"></ion-icon>
        Profil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
