<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="home">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button tab="reserv">
        <ion-icon name="airplane"></ion-icon>
        Reservation
      </ion-tab-button>
      <ion-tab-button tab="notif" routerLink="/ticket">
        <ion-icon name="notifications"></ion-icon>
        Notification
      </ion-tab-button>
      <ion-tab-button tab="person" routerLink="/profil">
        <ion-icon name="person"></ion-icon>
        Profil
      </ion-tab-button>
    </ion-tab-bar>
    <ion-router-outlet></ion-router-outlet>
  </ion-tabs>
</ion-app>
