
// .animated-footer {
//   position: relative;
// }

// .moving-circle {
//   // position: absolute;
//   bottom: 20px; /* Adjust to align with the icons */
//   width: 60px;
//   height: 60px;
//   background: rgba(255, 255, 255, 0.7);
//   border-radius: 50%;
//   z-index: -1;
//   transition: transform 0.4s ease;
// }

// ion-tab-button {
//   position: relative;
//   z-index: 1; /* Ensure tab buttons appear above the moving circle */
// }

ion-tab-button:hover{
  background-color: var(--blue-pers);

}
ion-tab-bar {
  background-color: #A5A7AC; /* Couleur de fond de la barre d'onglets */
  border-top: 1px solid #e0e0e0; /* Bordure supérieure de la barre d'onglets */
}
ion-tab-button {
  color: #A5A7AC; /* Couleur du texte et des icônes par défaut */

  &.tab-selected {
    background-color: var(--blue-pers); /* Couleur du texte et des icônes lorsque l'onglet est sélectionné */
  }

}
