<ion-header [translucent]="true">
    <div class="head">
      <ion-icon name="arrow-back-circle-outline" (click)="retour()"></ion-icon>
      <ion-title><h1>Infor Passager</h1></ion-title>
    </div>
</ion-header>

<ion-content>
  <div class="corps">
    <div class="form">
      <div class="lab">
          <label for="" >Nom</label>
          <input type="text" [(ngModel)]="passagers.nom">
      </div>
      
      <div class="lab">
          <label for="" >Prenom</label>
          <input type="text" [(ngModel)]="passagers.prenom">
      </div>

      <div class="Visa">
          <div class="lab-visa">
              <label for="" >Passport</label>
              <input type="text" [(ngModel)]="passagers.numeroDePassPort">
          </div>
          <div class="lab-visa">
              <label for="">Visa</label>
              <input type="text" [(ngModel)]="passagers.numeroDeVisa">
          </div>
      </div>

      <ion-select placeholder="Classe" slot="end" [(ngModel)]="selectedClass" style="color: black;" required>
        <ion-select-option value="ECONOMIQUE">ECONOMIQUE</ion-select-option>
        <ion-select-option value="AFFAIRE">AFFAIRE</ion-select-option>
      </ion-select>

      <div class="ajout">
          <div class="lab-btn">
              <span id="chaise">34</span><span> Place</span>
          </div>
          <div class="lab-btn">
              <input type="button" value="Choisir chaise" (click)="goToChoisirChaise(volId,selectedClass)">
          </div>
      </div>
    </div>

    <div class="foot">
        <input type="button" (click)="enregistrer()" value="Envoyer">
    </div>
</div>
</ion-content>