<ion-header [translucent]="true">
    <div class="head">
      <ion-icon name="arrow-back-circle-outline" (click)="retour()"></ion-icon>
      <ion-title><h1>Infor Passager</h1></ion-title>
    </div>
</ion-header>

<ion-content>
  <div class="corps">
    <div class="form">
      <div class="lab">
          <label for="" >Nom</label>
          <input type="text" [(ngModel)]="passagers.nom">
      </div>

      <div class="lab">
          <label for="" >Prenom</label>
          <input type="text" [(ngModel)]="passagers.prenom">
      </div>

      <div class="Visa">
          <div class="lab-visa">
              <label for="" >Passport</label>
              <input type="text" [(ngModel)]="passagers.numeroDePassPort">
          </div>
          <div class="lab-visa">
              <label for="">Visa</label>
              <input type="text" [(ngModel)]="passagers.numeroDeVisa">
          </div>
      </div>

      <ion-item>
        <ion-label>Classe</ion-label>
        <ion-select [(ngModel)]="classeSiege" placeholder="Sélectionnez une classe">
          <ion-select-option value="ECONOMIQUE">Économique</ion-select-option>
          <ion-select-option value="AFFAIRE">Affaire</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="ajout">
          <div class="lab-btn">
              <span id="chaise">{{siegeSelectionne.numero}}</span><span> Place</span>
          </div>
          <div class="lab-btn">
              <input type="button" value="Choisir chaise" (click)="goToChoisirChaise(avionId,selectedClass)">
          </div>
      </div>
    </div>

    <div class="foot">
        <input type="button" (click)="enregistrer()" value="Envoyer">
    </div>
</div>
</ion-content>
