
ion-header{
  margin-top: 10px;

  .head {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    width: 100%;
    padding: 0 20px;

    ion-icon {
      font-size: 10px;
      color: black;
    }
    ion-title{
      h1{
        color:black;
        font-size: 30px;
        font-weight: bold;
        padding-left: 40px;
      }
    }

  }
}

ion-content {
  width: 100%;
  --background: hsl(210, 17%, 98%);
}

.corps {
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

.form {
  background-color: #ffffff;
}

.form .lab {
  margin-bottom: 15px;
}

.form .lab label {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}

.form .lab input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.lab-pas {
  width: 48%;
}

.form .lab-pas + .lab-pas {
  margin-left: 4%;
}

.form .Visa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form .Visa .lab-visa {
  width: 48%;
}
.lab-visa label {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}
.lab-visa input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form .ajout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.form .ajout .lab-btn span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.form .ajout .lab-btn #chaise {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #04BBC7;
}

.form .ajout .lab-btn input[type="button"] {
  background-color: #04BBC7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.foot {
  margin-top: 30px;
  text-align: center;
}

.foot input[type="button"] {
  background-color: #04BBC7;
  width: 70%;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.foot input[type="button"]:hover,
.form .ajout .lab-btn input[type="button"]:hover {
  background-color: #0d9da8;
}

ion-item {
  margin-top: 5%;
}
