<div class="Body-page">
  <nav class="nav-bar">
    <div>
      <i class="fa-solid fa-arrow-left" ></i>
    </div>
    <div>
      <h5>Détails du Vol</h5>
    </div>
  </nav>
  <div class="container-wrapper">
    <div class="container">
      <div class="heure-time">
        <div>
          <h5>10:00</h5>
          <h6>Test</h6>
        </div>
        <h4>SKY</h4>
        <div>
          <h5>8:00</h5>
          <h6>Test</h6>
        </div>
      </div>
      <div class="two-box">
        <div class="cutout cutout-left"></div>
        <div class="cutout cutout-right"></div>
      </div>
      <div class="box-footer">
        <button>Annuler</button>
        <h6>Voir détails</h6>
      </div>
    </div>
    <div class="flight-content">
      <div class="flight-container">
        <!-- Image en tête -->
        <div class="center-image-entete">
          <img src="assets/icon/SKYMALI 1.png" alt="Flight Header" class="header-image" />
        </div>

        <!-- Trait sous l'image -->
        <hr class="full-width-line" />

        <!-- Trait pointillé courbé avec icône avion -->
        <div class="dotted-line-container">
          <div class="dotted-curve">
            <!-- <span class="start-point"></span>
            <span class="end-point"></span> -->
            <ion-icon name="airplane" class="airplane-dotted-icon"></ion-icon>
          </div>
        </div>

        <!-- Conteneurs de départ et d'arrivée -->
        <div class="flight-details">
          <div class="departure">
            <!-- <h4>Départ</h4> -->
            <p>CHE</p>
          </div>
          <div class="arrival">
            <!-- <h4>Arrivée</h4> -->
            <p>BLR</p>
          </div>
        </div>
        <!-- Conteneurs double texte -->
        <div class="flight-details">
          <div class="text1">
            <p>Aeroport International</p>
            <p>Modibo Keita</p>
          </div>
          <div class="text2">
            <p>Aeroport International</p>
            <p>de Niamey</p>
          </div>
        </div>
        <hr class="full-width-line" />
        <!-- Deux conteneurs côte à côte (Date et Heure) -->
        <div class="datetime-container">
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-input type="date"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Heure</ion-label>
            <ion-input type="time" ></ion-input>
          </ion-item>
        </div>

        <!-- Trait sous les inputs -->
        <hr class="full-width-line" />

        <!-- Texte Prix -->
        <div class="price-container">
          <p>Prix: 10000</p>
        </div>
        <button class="button">Annuler</button>
        <button class="button">Continuer</button>
      </div>
    </div>
  </div>
</div>
