<!-- Vérifiez si les propriétés existent avant d'afficher -->
<div *ngIf="vol && vol.aeroportDepart && vol.aeroportDepart.ville">
  {{ vol.aeroportDepart.ville.nom }}
</div>

<div class="Body-page" *ngIf="vol">
  <nav class="nav-bar">
    <div>
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div>
      <h5>Détails du Vol</h5>
    </div>
  </nav>

  <div class="container-wrapper">
    <div class="container">
      <div class="heure-time">
        <div>
          <h5>{{ getFormattedTime(vol.dateEtHeureDepart) }}</h5>
          <h6>{{ getFirstThreeLetters(vol.aeroportDepart.ville.nom) }}</h6> <!-- Correction ici -->
        </div>
        <h4>{{ vol.compagnie }}</h4>
        <div>
          <h5>{{ getFormattedTime(vol.dateEtHeureArrivee) }}</h5>
          <h6>{{ getFirstThreeLetters(vol.aeroportDArrivee.ville.nom) }}</h6> <!-- Correction ici -->
        </div>
      </div>
      <div class="two-box">
        <div class="cutout cutout-left"></div>
        <div class="cutout cutout-right"></div>
      </div>
      <img src="../../../assets/Images/avionlogo.png" alt="Logo Avion" class="logoAvion">
      <div class="box-footer">
        <button>Annuler</button>
        <h6>Voir détails</h6>
      </div>
    </div>
    <div class="flight-content">
      <div class="flight-container">
        <!-- Image en tête -->
        <div class="center-image-entete">
          <img src="assets/icon/SKYMALI 1.png" alt="Flight Header" class="header-image" />
        </div>

        <!-- Trait sous l'image -->
        <hr class="full-width-line" />

        <!-- Trait pointillé courbé avec icône avion -->
        <div class="dotted-line-container">
          <div class="dotted-curve">
            <ion-icon name="airplane" class="airplane-dotted-icon"></ion-icon>
          </div>
        </div>

        <!-- Conteneurs de départ et d'arrivée -->
        <div class="flight-details">
          <div class="departure">
            <p>{{ getFirstThreeLetters(vol.aeroportDepart.ville.nom) }}</p> <!-- Correction ici -->
          </div>
          <div class="arrival">
            <p>{{ getFirstThreeLetters(vol.aeroportDArrivee.ville.nom) }}</p> <!-- Correction ici -->
          </div>
        </div>
        <!-- Conteneurs double texte -->
        <div class="flight-details">
          <div class="text1">
            <p>{{ vol.aeroportDepart.ville.nom }}</p> <!-- Correction ici -->
            <p>{{ vol.aeroportDepart.ville.nom }}</p> <!-- Correction ici -->
          </div>
          <div class="text2">
            <p>{{ vol.aeroportDArrivee.ville.nom }}</p> <!-- Correction ici -->
            <p>{{ vol.aeroportDArrivee.ville.nom }}</p> <!-- Correction ici -->
          </div>
        </div>
        <hr class="full-width-line" />
        <!-- Deux conteneurs côte à côte (Date et Heure) -->
        <div class="datetime-container">
          <ion-item>
            <ion-label>Date:</ion-label>
            <ion-input [value]="getFormattedDate(vol.dateEtHeureDepart)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Heure:</ion-label>
            <ion-input [value]="getFormattedDate(vol.dateEtHeureDepart) | date:'HH:mm'"></ion-input>
          </ion-item>
        </div>

        <!-- Trait sous les inputs -->
        <hr class="full-width-line" />

        <!-- Texte Prix -->
        <div class="price-container">
          <p>Prix: {{ vol.prix }} CFA</p>
        </div>
      </div>
    </div>
    <div class="flex-btn">
      <button class="btn-annuler">Annuler</button>
      <button class="btn-continuer">Continuer</button>
    </div>
  </div>
</div>
<ng-template #noData>
  <p>Loading...</p>
</ng-template>
