<div class="content">
    <ion-button aria-label="Favorite" class="retour">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="text-titre">
      Mot de passe oublier
    </div>
    <div class="text">
      Veuillez saisir votre adresse e-mail
      pour réinitialiser votre mot de passe.
    </div>
    <ion-input
      label="Entrez votre e-mail"
      label-placement="floating"
      fill="outline"
      placeholder="">
    </ion-input>
    <ion-button expand="block" class="envoyer">Envoyer</ion-button>
</div>
