<div class="Body-page">
  <div class="title">
    <div>
      <i class="fa-solid fa-arrow-left" ></i>
    </div>
    <ion-title>Sélectionner votre vol</ion-title>
  </div>

  <!-- Trait pointillé courbé avec icône avion -->
  <div class="dotted-line-container">
    <div class="dotted-curve">
      <!-- <span class="start-point"></span>
      <span class="end-point"></span> -->
      <ion-icon name="airplane" class="airplane-dotted-icon"></ion-icon>
    </div>
  </div>

  <div class="Distance">
    <div class="Yul">
      <div class="Che" style="">CHE</div>
    </div>
    <div class="Nrt" style="">
      <div class="Blr" style="">BLR</div>
    </div>
  </div>

  <div class="div-btn">
    <input type="date" class="btn1" style="">
    <button class="btn1" style="">1 passager</button>
  </div>

  <div class="Class">
    <div class="Rectangle100"> <div class="Economique">Economique</div> </div>
  </div>


  <div class="container-wrapper">



    <div class="container"
         *ngFor="let r of vol">
      <div class="heure-time">
        <div>
          <h5>{{ getFormattedTime(r.dateEtHeureDepart) }}</h5>
          <h6>{{ getFirstThreeLetters(r.aeroportDepart) }}</h6>
        </div>
        <h4>{{ getFormattedTime(r.dateEtHeureArrivee) }}</h4>
        <div>
          <h5>{{ getFirstThreeLetters(r.aeroportDArrivee) }}</h5>
        </div>
      </div>
      <div class="two-box">
        <div class="cutout cutout-left"></div>
        <div class="cutout cutout-right"></div>
      </div>
        <div class="airline">{{ r.compagnie.nom }}</div>
        <img src="../../../assets/Images/avionlogo.png" alt="Logo Avion" class="logoAvion">
        <div class="prix">1000CFA</div>
    </div>
  </div>
</div>
