<!-- l'entete de la page -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="head-title">
      <ion-icon name="arrow-back-circle-outline" (click)="retour()"></ion-icon>
      <ion-title>Liste des vols</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<div class="Body-page">
  <div class="title">
    <div>
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <ion-title>Sélectionner votre vol</ion-title>
  </div>

  <!-- Trait pointillé courbé avec icône avion -->
  <div class="dotted-line-container">
    <div class="dotted-curve">
      <!-- <span class="start-point"></span>
      <span class="end-point"></span> -->
      <ion-icon name="airplane" class="airplane-dotted-icon"></ion-icon>
    </div>
  </div>

  <div class="Distance">
    <div class="Yul">
      <div class="Che" >{{ villeDeDepart }}</div>
    </div>
    <div class="Nrt" >
      <div class="Blr" >{{ villeDArrivee }}</div>
    </div>
  </div>

  <div class="div-btn">
    <input type="date" class="btn1" >
    <button class="btn1" >{{ voyageur }} passager</button>
  </div>

  <div class="Class">
    <div class="Rectangle100"> <div class="Economique">{{ selectedClass }}</div> </div>
  </div>


  <div class="container-wrapper">
    <div class="container"
         *ngFor="let r of vol"
         (click)="viewVolDetail(r.id)">
      <div class="heure-time">
        <div style="color: black">
          <h5>{{ getFormattedTime(r.dateEtHeureDepart) }}</h5>
          <h6 style="color: black">{{ getFirstThreeLetters(r.aeroportDepart.ville.nom) }}</h6>
        </div>
        <div>
          <h4>{{ getFormattedTime(r.dateEtHeureArrivee) }}</h4>
          <h5>{{ getFirstThreeLetters(r.aeroportDArrivee.ville.nom) }}</h5>
        </div>
      </div>
      <div class="two-box">
        <div class="cutout cutout-left"></div>
        <div class="cutout cutout-right"></div>
      </div>
      <div class="airline">{{ r.adminCompagnie.compagnie.nom }}</div>
      <img src="../../../assets/Images/avionlogo.png" alt="Logo Avion" class="logoAvion">
      <div class="prix">1000CFA</div>
    </div>
  </div>
</div>
