
<ion-content [fullscreen]="true">

   <h2>Se Connecter</h2>

     <div class="sociaux">

       <button class="btn-goole">GOOGLE</button>
      
        <button class="btn-facebook">FACEBOOK</button>
   
     </div>

      <div class="separateur">
         <span>Ou</span>
      </div>

    
     <div class="form">

      <div class="chp">
       <input type="email" placeholder="email" [(ngModel)]="login.email">
      </div>

      <div class="chap">
       <input type="password" placeholder="mot de passe"[(ngModel)]="login.password">
      </div>
     </div>


     <div class="connect">
      <button class="btn-connexion" (click)="seconnecter()">Connexion</button>
     </div>

     <div class="sos">
       <p>Vous n'avez pas de compte ?</p>
        <button class="sinscrire">S'INSCRIRE</button>
     </div>

  
</ion-content>
