<div class="container">
  <header>
      <div class="menu-icon">
          <!-- Icône du menu (hamburger) -->
          &#9776;
      </div>
      <div class="logo">
          <!-- Logo ou icône -->
          🛫
      </div>
  </header>
 
  <main>
        <div class="search-section">
          <h1>Où voulez-vous Aller ?</h1>
          <div class="search-bar">
              <input type="text" placeholder="Recherchez votre voyage">
              <button><i class="search-icon">&#128269;</i></button>
          </div>
        </div>




        <div class="category-filter">
          <button class="active">Tout</button>
          <button>Afrique</button>
          <button>Europe</button>
          <button>Asia</button>
          <button>Océanie</button>
        </div>
  
      <div class="travel-cards">
          
        <div class="card">
          <img [src]="mosque" alt="Djenné, Mali">
          <div class="card-info">
              <h2>Djenné, Mali</h2>
              <p>À partir de $1500</p>
          </div>
        </div>
        <div class="card">
          <img [src]="mosque" alt="Djenné, Mali">
          <div class="card-info">
              <h2>Djenné, Mali</h2>
              <p>À partir de $1500</p>
          </div>
        </div>
        <div class="card">
          <img [src]="mosque" alt="Djenné, Mali">
          <div class="card-info">
              <h2>Djenné, Mali</h2>
              <p>À partir de $1500</p>
          </div>
        </div>
        <div class="card">
          <img [src]="mosque" alt="Djenné, Mali">
          <div class="card-info">
              <h2>Djenné, Mali</h2>
              <p>À partir de $1500</p>
          </div>
        </div>
        <div class="card">
          <img [src]="mosque" alt="Djenné, Mali">
          <div class="card-info">
              <h2>Djenné, Mali</h2>
              <p>À partir de $1500</p>
          </div>
        </div>
        <div class="card">
          <img [src]="mosque" alt="Djenné, Mali">
          <div class="card-info">
              <h2>Djenné, Mali</h2>
              <p>À partir de $1500</p>
          </div>
        </div>

      </div>
  </main>
</div>

